<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
	<test name="test1" preserve-order="true">
		<classes>
			 <class name="com.zhangling.MyFileCase">
				<methods>
					<include name="newFolder"></include>
					<include name="newFolderSame"></include>
					<include name="deleteFolder"></include>
					<include name="upload"></include> 
					<include name="download"></include>
					<include name="deleteFile"></include>
					<include name="cloudShare"></include>
					<include name="linkShare"></include>
					<include name="openLinkShared"></include>
					<include name="createTeam"></include>
					<include name="copyToMyFiles"></include>
					<include name="copyToTeamFile"></include> 
					<include name="copyToCompanyFile"></include>
					<include name="favorites"></include>
					<include name="newExternalUpload"></include>
					<include name="closeExternalUpload"></include>
					<include name="deleteExternalUpload"></include>
					<include name="tagging"></include>
					<include name="comment"></include>
					<include name="renaming"></include> 		
				</methods>
			</class> 	
			
			<class name="com.zhangling.TeamFileCase">
			<methods>
					<include name="newFolder"></include>
					<include name="newFolderSame"></include>
					<include name="deleteFolder"></include>
					<include name="upload"></include> 
					<include name="deleteFile"></include>
					<include name="cloudShare"></include>
					<include name="linkShare"></include>
					<include name="openLinkShared"></include>
					<include name="teamFileCopyToMyFiles"></include>
					<include name="teamFileCopyToTeamFile"></include> 
					<include name="teamFileCopyToCompanyFile"></include>
					<include name="favorites"></include>
					<include name="tagging"></include>
					<include name="comment"></include>
					<include name="renaming"></include> 
					<include name="moveFileToFolder"></include> 
					<include name="lock"></include> 
					<include name="unlock"></include> 
					
			</methods>
			</class> 
			<!-- 登陆 -->
			<parameter name="url" value="https://y7test.y7tech.com/ucdisk/"></parameter>
			<parameter name="username" value="jenny"></parameter>
			<parameter name="password" value="888888"></parameter>
			<!-- 个人文件 -->
			<parameter name="upload" value="1.doc"></parameter>
			<parameter name="cloudShare" value="2.xlsx"></parameter>
			<parameter name="linkShare" value="3.ppt"></parameter>
			<parameter name="openLinkShare" value="3.ppt"></parameter>
			<parameter name="createTeam" value="myTeam"></parameter>
			<parameter name="copyToMyFiles" value="4.png"></parameter>
			<parameter name="copyToTeamFile" value="5.jpeg"></parameter>
			<parameter name="copyToCompanyFile" value="6.txt"></parameter>
			<parameter name="favoritesUploadFileName" value="7.pdf"></parameter>
			<parameter name="newExternalUpload" value="testExc1"></parameter>
			<parameter name="tagging" value="8.mp3"></parameter>
			<parameter name="common" value="9.wmv"></parameter>
			<parameter name="renaming" value="10.jpg"></parameter>
			<parameter name ="download" value ="11.html"></parameter>
			<!-- 团队文件 -->
			<parameter name="teamFileCopyToMyFile" value="15.jpeg"></parameter>
			<parameter name="teamFileCopyToTeamFile" value="16.jpeg"></parameter>
			<parameter name="teamFileCopyToCompanyFile" value="17.jpeg"></parameter>						
			<parameter name ="moveFileToFolder" value ="12.docx"></parameter>
			<parameter name ="moveToCurrentDir" value ="13.xls"></parameter>
			<parameter name="teamFileCloudShare" value="18.xlsx"></parameter>
			<parameter name="teamFileLinkShare" value="19.ppt"></parameter>
			<parameter name ="lock" value ="14.pptx"></parameter>
			<!-- 公司文件 -->
			<parameter name ="enterCompanyTeam" value ="companyTeam"></parameter>
		</classes>
	</test>
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
</suite>